global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        contimeout 5000
        clitimeout 50000
        srvtimeout 50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen stats {{ VIP_MGMT }}:80
        mode http
        stats enable
        stats uri /stats
        stats realm HAProxy\ Statistics
        stats auth admin:{{ haproxy_states_pass }}

listen galera {{ VIP_MGMT }}:3306
        balance source
        mode tcp
        option tcpka
        option mysql-check user haproxy
        server controller01 {{ controller01_mgmt_ip }}:3306 check weight 1
        server controller02 {{ controller02_mgmt_ip }}:3306 check weight 1

listen keystone-admin {{ VIP_MGMT }}:35357
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_mgmt_ip }}:35357 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:35357 check inter 2000 rise 2 fall 5

listen keystone-admin-internal {{ VIP_STORAGE }}:35357
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_storage_ip }}:35357 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:35357 check inter 2000 rise 2 fall 5

listen keystone-api {{ VIP_MGMT }}:5000
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_mgmt_ip }}:5000 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:5000 check inter 2000 rise 2 fall 5

listen keystone-api-internal {{ VIP_STORAGE }}:5000
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_storage_ip }}:5000 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:5000 check inter 2000 rise 2 fall 5

listen swift-proxy {{ VIP_MGMT }}:8080
        balance  source
        option  tcpka
        option  tcplog
        server controller01 {{ controller01_mgmt_ip }}:8080  check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:8080  check inter 2000 rise 2 fall 5

listen swift-proxy-internal {{ VIP_STORAGE }}:8080
        balance  source
        option  tcpka
        option  tcplog
        server controller01 {{ controller01_storage_ip }}:8080  check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:8080  check inter 2000 rise 2 fall 5

listen glance-api {{ VIP_MGMT }}:9292
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_mgmt_ip }}:9292 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:9292 check inter 2000 rise 2 fall 5

listen glance-api-internal {{ VIP_STORAGE }}:9292
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_storage_ip }}:9292 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:9292 check inter 2000 rise 2 fall 5

listen glance-registry {{ VIP_MGMT }}:9191
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_mgmt_ip }}:9191 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:9191 check inter 2000 rise 2 fall 5

listen glance-registry-internal {{ VIP_STORAGE }}:9191
        balance source
        option tcpka
        option httpchk
        maxconn 10000
        server controller01 {{ controller01_storage_ip }}:9191 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:9191 check inter 2000 rise 2 fall 5

listen cinder-api {{ VIP_MGMT }}:8776
        balance  source
        option  tcpka
        option  httpchk
        option  tcplog
        server controller01 {{ controller01_mgmt_ip }}:8776 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_mgmt_ip }}:8776 check inter 2000 rise 2 fall 5

listen cinder-api-internal {{ VIP_STORAGE }}:8776
        balance  source
        option  tcpka
        option  httpchk
        option  tcplog
        server controller01 {{ controller01_storage_ip }}:8776 check inter 2000 rise 2 fall 5
        server controller02 {{ controller02_storage_ip }}:8776 check inter 2000 rise 2 fall 5
