keystone_username: 'admin'
keystone_password: 'b57c3233eedef3f7b1a3'
keystone_tenant_name: 'admin'
keystone_url: 'http://10.32.151.3:35357/v2.0'
region: 'regionOne'
manager_public_key_name: ''
agent_public_key_name: ''
image_id: '1b0f8458-2489-41b2-9fa6-77e652940023'
flavor_id: '2'
external_network_name: 'ext-net'

use_existing_manager_keypair: false
use_existing_agent_keypair: false
manager_server_name: cloudify-manager-server
manager_server_user: ubuntu
manager_private_key_path: ~/.ssh/cloudify-manager-kp.pem
agent_private_key_path: ~/.ssh/cloudify-agent-kp.pem
agents_user: ubuntu
management_network_name: cloudify-management-network
management_subnet_name: cloudify-management-network-subnet
management_router: cloudify-management-router
manager_security_group_name: cloudify-sg-manager
agents_security_group_name: cloudify-sg-agents
manager_port_name: cloudify-manager-port
manager_volume_name: cloudify-manager-volume
nova_url: ''
neutron_url: ''
resources_prefix: 'cloudify'
