[DEFAULT]
dhcpbridge_flagfile=/etc/nova/nova.conf
dhcpbridge=/usr/bin/nova-dhcpbridge
logdir=/var/log/nova
state_path=/var/lib/nova
lock_path=/var/lock/nova
force_dhcp_release=True
libvirt_use_virtio_for_bridges=True
verbose=True
ec2_private_dns_show_ip=True
api_paste_config=/etc/nova/api-paste.ini
enabled_apis=ec2,osapi_compute,metadata
rpc_backend = rabbit
rabbit_hosts = {{ rabbit_hosts }}
rabbit_password = {{ rabbitmq_guest_password }}
rabbit_ha_queues = true
auth_strategy = keystone
my_ip = {{ controller1_management_network_ip }}
vncserver_listen = {{ controller1_management_network_ip }}
vncserver_proxyclient_address = {{ controller1_management_network_ip }}
network_api_class = nova.network.api.API
security_group_api = nova

[database]
connection = mysql://nova:{{ nova_db_password }}@{{ VIP_DB }}/nova

[keystone_authtoken]
auth_uri = {{ auth_uri }}
identity_uri = {{ identity_uri }}
admin_tenant_name = service
admin_user = {{ openstack_nova_user }}
admin_password = {{ openstack_nova_pass }}

[glance]
host = {{ glance_host }}
